<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default_layout}">
    <th:block layout:fragment="head">
        <title>Spring Boot</title> <!--/* css */-->
        <link th:href="@{/css/common.css}" rel="stylesheet"/>
    </th:block>
<body>
    <th:block layout:fragment="header" th:include="@{/thymeleaf/fragments/header}"></th:block>
    <div layout:fragment="content" class="content">
        <h2>Login</h2>
    </div>
    <th:block layout:fragment="footer" th:include="@{/thymeleaf/fragments/footer}"></th:block>
</body>
</html>